/* Fontes utilizadas no site, importadas do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* CSS global */
* {
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo do site com organização de cada elemento */
body {
    background-image: url(mídias/Fundo\ do\ site.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

/* Alinhamento flexível dos elementos para melhor responsividade */
.header,
.menu,
.main,
.sidebar,
.footer {
    display: flex;
}

/* Arredondamento da borda e definição da margem do conteúdo principal e da sidebar */
.main,
.sidebar {
    border-radius: 5px;
    margin: 2px;
}

/* Definição da altura e borda do cabeçalho */
.header {
    border-bottom: 2px solid rgb(30, 30, 30);
    flex: 1 1 100%;
    height: 100px;
}

/* Estilização da logo do site */
.header h1 {
    flex: 0 1 200px;
    font-family: "Lobster", sans-serif;
    font-size: clamp(16px, 4vw, 32px);
    font-style: oblique;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Estilização dos botões de abrir e fechar do menu */
#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    margin: 10px;
    cursor: pointer;
    display: none;
}

/* Distribuição dos links do menu */
.menu {
    flex: 1 1 100%;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
}

/* Estilização dos links do menu */
.menu a {
    background: none;
    margin: 3%;
    font-size: clamp(14px, 3vw, 24px);
}

/* Estilização do background do conteúdo principal e cálculo da altura do elemento */
.main {
    background-image: url(mídias/arrascaeta.jpg);
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
    flex: 20 1 500px;
    height: calc(100vh - 224px);
}

/* Cor do background e posicionamento dos itens da sidebar */
.sidebar {
    flex: 1 1 200px;
    background-color: rgba(14, 14, 14, 0.779);
    text-align: center;
    align-items: center;
}

.sidebar h3,
.sidebar p {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
}

.sidebar h3 {
    font-size: clamp(18px, 4vw, 35px);
    margin: 10px;
}

.sidebar p {
    font-size: clamp(14px, 2.5vw, 16px);
    margin: 3px;
}

/* Configurações do rodapé com background em degradê */
.footer {
    flex: 1 1 100%;
    background-image: linear-gradient(to bottom, rgba(14, 14, 14, 0.779), rgba(0, 0, 0, 0.834));
    border-top: 2px solid rgb(30, 30, 30);
    margin-bottom: 0;
    height: 124px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do conteúdo do rodapé */
.footer p {
    background: none;
    font-size: clamp(10px, 2.5vw, 14px);
    margin: 5px;
}

/* Deixando os links sem decoração */
a {
    text-decoration: none;
    color: inherit;
}

/* Responsividade da página ao chegar no tamanho de tela de 923px, deixando o conteúdo principal, sidebar e rodapé alinhados em coluna */
@media only screen and (max-width: 923px) {
    .main {
        height: calc(124vh - 230px);
        background-position: center;
    }

    .sidebar {
        flex: 1 1 100vh;
        height: 100px;
        justify-content: center;
    }

    .footer {
        height: 84px
    }

    /* Visibilade do menu e dos botões de abrir e fechar. Os links são escondidos para melhor interação em telas menores */
}

@media screen and (max-width: 1147px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    #openMenu {
        margin-left: auto;
    }

    .menu {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 1s;
    }
}

/* Pequenas mudanças no tamanho do cabeçalho e margem da sidebar para melhor responsividade */
@media screen and (max-width: 768px) {
    .header {
        height: auto;
    }

    .sidebar {
        margin-top: -1px;
    }
}