/* Fontes utilizadas no site, importadas do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* CSS global */
* {
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo do site com organização de cada elemento */
body {
    background-image: url(/mídias/Fundo\ do\ site.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

/* Alinhamento flexível dos elementos para melhor responsividade */
.header,
.menu,
.main,
.sidebar,
.footer {
    display: flex;
}

/* Arredondamento da borda */
.header,
.main,
.sidebar,
.footer {
    border-radius: 3px;
}

.main,
.sidebar {
    margin: 1.5px;
}

/* Definição da altura e borda do cabeçalho */
.header {
    border-bottom: 2px solid rgb(30, 30, 30);
    flex: 1 1 100%;
    height: 100px;
}

/* Estilização da logo do site */
.header h1 {
    flex: 0 1 200px;
    font-family: "Lobster", sans-serif;
    font-size: clamp(16px, 4vw, 32px);
    font-style: oblique;
    text-shadow: 2px 2px 4px rgba(58, 58, 58, 0.712);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Distribuição dos links do menu */
.menu {
    flex: 1 1 100%;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
}

/* Estilização dos links do menu */
.menu a {
    background: none;
    margin: 3%;
    font-size: clamp(11px, 2.5vw, 24px);
    white-space: nowrap;
}

/* Estilização do background do conteúdo principal e cálculo da altura do elemento */
.main {
    background-image: url(/mídias/arrascaeta.jpg);
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
    flex: 20 1 500px;
    height: calc(100vh - 224px);
}

/* Cor do background e posicionamento dos itens da sidebar */
.sidebar {
    flex: 1 1 200px;
    background-color: rgba(14, 14, 14, 0.779);
    text-align: center;
    align-items: center;
}

.sidebar h3,
.sidebar p {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
}

.sidebar h3 {
    font-size: clamp(18px, 4vw, 35px);
    margin: 10px;
}

.sidebar p {
    font-size: clamp(14px, 2.5vw, 16px);
    margin: 3px;
}

/* Configurações do rodapé com background em degradê */
.footer {
    flex: 1 1 100%;
    background-image: linear-gradient(to bottom, rgba(14, 14, 14, 0.779), rgba(0, 0, 0, 0.834));
    border-top: 2px solid rgb(30, 30, 30);
    margin-bottom: 0;
    height: 124px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do conteúdo do rodapé */
.footer p {
    background: none;
    font-size: clamp(10px, 2.5vw, 14px);
    margin: 5px;
}

/* Deixando os links sem decoração */
a {
    text-decoration: none;
    color: inherit;
}

/* Responsividade da página ao chegar no tamanho de tela de 923px */
@media only screen and (max-width: 923px) {
    .main {
        height: calc(124vh - 230px);
        background-position: center;
    }

    .sidebar {
        flex: 1 1 100vh;
        height: 100px;
        justify-content: center;
    }

    .footer {
        height: 84px;
    }
}

/* Esconde a logo do site e deixa os links do menu de navegação alinhados ao meio */
@media screen and (max-width: 885px) {
    .header h1 {
        display: none;
    }

    .menu {
        justify-content: center;
    }
}

/* Pequenas mudanças no tamanho do cabeçalho e margem da sidebar para melhor responsividade */
@media screen and (max-width: 768px) {
    .header {
        height: auto;
    }
}

/* Aplicação do layout flexível e alinhamento dos elementos ao meio da página */
.main-biografia,
.biografia,
.cards,
.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dimensões flexíveis do conteúdo principal */
.main-biografia {
    flex: 20 1 500px;
}

/* Flexibilidade dos cards */
.biografia {
    flex: 1 1 100vh;
}

/* Estilização, tamanho e decorações no card */
.cards {
    background-color: rgb(110, 5, 5);
    margin: 30px;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(70, 70, 70, 0.3) 0px 19px 38px, rgba(25, 25, 25, 0.22) 0px 15px 12px;
}

/* Alinhamento ao meio dos textos e definição da margem */
.cards h2,
.cards h3,
.cards p {
    text-align: center;
    margin: 5px;
}

.cards h2 {
    font-size: clamp(15px, 3vw, 20px);
    font-weight: 550;
}

.cards p {
    font-size: clamp(10px, 2vw, 15px);
}

.cards h3 {
    font-size: clamp(13px, 2vw, 15px);
    font-weight: 500;
}

/* Dimensionamento e decoração das sub-divisões do segundo card */
div {
    background-color: rgb(75, 5, 5);
    border-radius: 5px;
    width: 85%;
    margin: 5px;
    box-shadow: rgba(4, 9, 11, 0.12) 0px 2px 4px 0px, rgba(4, 9, 11, 0.32) 0px 2px 16px 0px;
}

div p {
    font-size: clamp(6px, 1vw, 8px);
}

/* Espaçamento entre as informações de jogos, gols e assistências */
.info {
    gap: 5px;
}

/* Ao chegar na dimensão especificada, os cards são alinhados em coluna */
@media screen and (max-width: 1330px) {
    .biografia {
        flex-direction: column;
        ;
    }
}

/* Diminui a largura e altura dos cards para melhor responsividade */
@media screen and (max-width: 675px) {
    .cards {
        width: 450px;
        height: 400px
    }
}

/* Diminui a largura e altura dos cards para melhor responsividade */
@media screen and (max-width: 568px) {
    .cards {
        width: 300px;
        height: 400px
    }
}