/* Fontes utilizadas no site, importadas do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* CSS global */
* {
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo do site com organização de cada elemento */
body {
    background-image: url(/mídias/Fundo\ do\ site.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

/* Alinhamento flexível dos elementos para melhor responsividade */
.header,
.menu,
.main,
.sidebar,
.footer {
    display: flex;
}

.main,
.sidebar {
    margin: 1.5px;
}

/* Definição da altura e borda do cabeçalho */
.header {
    border-bottom: 2px solid rgb(30, 30, 30);
    flex: 1 1 100%;
    height: 100px;
}

/* Estilização da logo do site */
.header h1 {
    flex: 0 1 200px;
    font-family: "Lobster", sans-serif;
    font-size: clamp(16px, 4vw, 32px);
    font-style: oblique;
    text-shadow: 2px 2px 4px rgba(58, 58, 58, 0.712);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    display: flex;
    /* Nome e duração da animação de desvaneio */
    animation-name: aparecer;
    animation-duration: 2s;
}

/* Animação de desvaneio na logo do site */
@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Distribuição dos links do menu */
.menu {
    flex: 1 1 100%;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
}

/* Estilização dos links do menu */
.menu a {
    display: inline-block;
    background: none;
    margin: 3%;
    font-size: clamp(11px, 2.5vw, 24px);
    white-space: nowrap;
    /* Tempo de transição da animação */
    transition: transform 0.3s ease;
}

/* Animação de aumento dos links do menu ao passar o mouse por cima */
.menu a:hover {
    transform: scale(1.2);
}

/* Estilização do background do conteúdo principal e cálculo da altura do elemento */
.main {
    background-image: url(/mídias/arrascaeta.jpg);
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Cor do background e posicionamento dos itens da sidebar */
.sidebar {
    flex: 1 1 200px;
    background-color: rgba(14, 14, 14, 0.844);
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sidebar h3,
.sidebar p {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    text-align: center;
    color: rgb(160, 5, 5);
}

.sidebar h3 {
    font-size: clamp(18px, 4vw, 35px);
    margin: 10px;
}

.sidebar p {
    font-size: clamp(14px, 2.5vw, 16px);
    margin: 3px;
}

/* Configurações do rodapé com background em degradê */
.footer {
    flex: 1 1 100%;
    background-image: linear-gradient(to bottom, rgba(14, 14, 14, 0.844), rgb(0, 0, 0));
    border-top: 2px solid rgb(30, 30, 30);
    margin-bottom: 0;
    height: 124px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do conteúdo do rodapé */
.footer p {
    background: none;
    font-size: clamp(10px, 2.5vw, 14px);
    margin: 5px;
}

/* Deixando os links sem decoração */
a {
    text-decoration: none;
    color: inherit;
}

/* Responsividade da página ao chegar no tamanho de tela de 923px */
@media only screen and (max-width: 923px) {
    .main {
        height: calc(124vh - 230px);
        background-position: center;
    }

    .sidebar {
        flex: 1 1 100vh;
        height: 100px;
        justify-content: center;
    }

    .footer {
        height: 84px;
    }
}

/* Esconde a logo do site e deixa os links do menu de navegação alinhados ao meio */
@media screen and (max-width: 885px) {
    .header h1 {
        display: none;
    }

    .menu {
        justify-content: center;
    }
}

/* Pequenas mudanças no tamanho do cabeçalho e margem da sidebar para melhor responsividade */
@media screen and (max-width: 768px) {
    .header {
        height: auto;
    }
}

/* Aplicação do layout flexível e alinhamento dos elementos ao meio da página */
.main-biografia,
.biografia,
.cards,
.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dimensões flexíveis do conteúdo principal */
.main-biografia {
    flex: 20 1 500px;
}

/* Flexibilidade dos cards */
.biografia {
    flex: 1 1 100vh;
}

/* Estilização, tamanho e decorações no card */
.cards {
    background-color: rgb(110, 5, 5);
    margin: 30px;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(50, 70, 70, 0.222) 0px 19px 38px, rgba(25, 25, 25, 0.22) 0px 15px 12px;
}

/* Alinhamento ao meio dos textos e definição da margem */
.cards h2,
.cards h3,
.cards p {
    text-align: center;
    margin: 5px;
}

.cards h2 {
    font-size: clamp(15px, 3vw, 20px);
    font-weight: 550;
}

.cards p {
    font-size: clamp(10px, 2vw, 13px);
}

.cards h3 {
    font-size: clamp(13px, 2vw, 15px);
    font-weight: 500;
}

/* Dimensionamento e decoração das sub-divisões do segundo card */
.cards div {
    background-color: rgb(75, 5, 5);
    border-radius: 5px;
    width: 85%;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

div p {
    font-size: clamp(6px, 1vw, 8px);
}

/* Espaçamento entre as informações de jogos, gols e assistências */
.info {
    gap: 5px;
}

/* Ao chegar na dimensão especificada, os cards são alinhados em coluna */
@media screen and (max-width: 1330px) {
    .biografia {
        flex-direction: column;
    }

    .cards {
        width: 700px;
    }
}

/* Diminui a largura e altura dos cards para melhor responsividade */
@media screen and (max-width: 764px) {
    .cards {
        width: 450px;
        height: 400px
    }
}

/* Diminui a largura e altura dos cards para melhor responsividade */
@media screen and (max-width: 568px) {
    .cards {
        width: 310px;
        height: 400px;
    }
}

.main-highlight {
    flex: 20 1 500px;
    margin: 2px;
}

.highlight,
.cards-highlight,
div a {
    display: flex;
    align-items: center;
}

.highlight,
div a {
    justify-content: center;
}

.highlight {
    flex: 1 1 100vh;
}

/* Estilização e dimensionamento dos cards dos melhores momentos */
.cards-highlight {
    background-color: rgb(75, 5, 5);
    margin: 30px;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(75, 5, 5, 0.490) 0px 19px 38px, rgba(25, 25, 25, 0.22) 0px 15px 12px;
}

/* Cor e sombra do primeiro card */
#card-cruzeiro {
    background-color: rgb(4, 54, 191);
    box-shadow: rgba(4, 54, 191, 0.15) 0px 19px 38px, rgba(25, 25, 25, 0.22) 0px 15px 12px;
}

/* Dimensionamento e borda ao topo do vídeo */
.cards-highlight iframe {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 60%;
}

div {
    margin: 30px;
}

div img {
    width: 70px;
}

div h2 {
    font-size: clamp(15px, 3vw, 25px);
    font-weight: 550;
}

@media screen and (max-width: 1330px) {

    /* Alinha os cards em coluna */
    .highlight {
        flex-direction: column;
    }

    .cards-highlight {
        width: 700px;
    }
}

@media screen and (max-width: 764px) {
    .cards-highlight {
        width: 450px;
        height: 400px
    }
}

@media screen and (max-width: 568px) {
    .cards-highlight {
        width: 310px;
        height: 300px;
    }

    /* Diminui a altura dos cards */
    .cards-highlight iframe {
        height: 50%;
    }
}

.main-contact,
.formulario,
.links-contato {
    display: flex;
}

.main-contact {
    flex: 20 1 500px;
    height: calc(100vh - 64px);
}

.formulario,
.links-contato {
    align-items: center;
    justify-content: center;
}

/* Configurações da seção do formulário de contato */
.formulario {
    flex: 1 1 100vh;
    margin: 10px;
    padding: 1rem;
    flex-direction: column;
}

/* Definição do tamanho do fromulário */
.formulario form {
    width: 100%;
    /* Tamanho máximo do formulário */
    max-width: 30rem;
}

.formulario h2 {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 400;
    margin: 20px;
}

.links-contato {
    margin: 0;
    /* Espaçamento entre os links */
    gap: 15px;
}

.links-contato img {
    width: 55px;
}

label,
textarea,
input,
button {
    display: block;
}

textarea,
input,
button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input,
textarea {
    margin-bottom: 1rem;
    background: rgb(26, 26, 26);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    /* Transição da cor da borda */
    transition: border-color 0.3s;
    box-shadow: 0.3s;
}

/* Deixa a borda colorida ao passar o mouse por cima dos campos */
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: rgb(110, 5, 5);
}

label {
    margin: 0.5rem;
}

textarea {
    min-height: 10rem;
    /* Aumenta a altura do textarea somente na vertical */
    resize: vertical;
}

/* Estilização do botão de envio */
button {
    border: none;
    border-radius: 99px;
    background: rgb(110, 5, 5);
    cursor: pointer;
    transition: 0.3s;
}

/* Opacidade do botão ao passar o mouse por cima */
button:hover,
button:focus {
    outline: none;
    background: rgba(110, 5, 5, 0.659);
}

/* Estilização e centralização das mensagens que aparecem após clicar no botão enviar */
.success,
.error {
    color: rgb(255, 255, 255);
    text-align: center;
}